<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="test.java.uiAutomation.core.TestListener" />
    </listeners>
    <test name="cucumberTest">
        <classes>
            <class name="test.java.uiAutomation.testcases.suite"/>
            <class name="test.java.uiAutomation.testcases.DistrictUserLogin"/>
        </classes>
    </test>
    <!-- Test completed-->

<!--    <listeners>-->
<!--        <listener class-name="test.java.bdd.cucumberTestng.listener.ITestImplementation"></listener>-->
<!--    </listeners>-->

</suite>