<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" >

    <listeners>
        <listener class-name="test.java.uiAutomation.core.TestListener" />
    </listeners>
    <test name="cucumberTest">
        <classes>
            <class name="test.java.uiAutomation.testcases.suite"/>
            <class name="test.java.uiAutomation.testcases.Login"/>
            <class name="test.java.uiAutomation.testcases.login2"/>
        </classes>
    </test>
    <test name="cucumberTest1">
        <classes>
            <class name="test.java.uiAutomation.testcases.suite"/>
            <class name="test.java.uiAutomation.testcases.Login"/>
            <class name="test.java.uiAutomation.testcases.login2"/>
        </classes>
    </test>


</suite>